extends layout

block content
  if user
    block appBar
      div.app-bar              
        script.
          var toggleVisible = (el, className) => el.classList.toggle(className);
        div.app-bar--left
          div.logo-icon
            a(href="/") m
        div.app-bar--center
          div.view-toggle
            a.view-btn(href="/?view=text" class=activeView === 'text' ? 'active' : '')
              img(src="/resources/contentType-text.png" alt="Conversations")
            a.view-btn(href="/?view=image" class=activeView === 'image' ? 'active' : '')
              img(src="/resources/contentType-image.png" alt="Grid")
        div.app-bar--right 
          div.controls
            div.control-item.profile
              span #{user.initials}

      block userMenu 
        div.user-menu#user-menu
          ul 
            //- li 
              a(href="/profile") Profile
            li
              a(href="/logout") Sign Out
    div.content
      block post
        div.post-container
          div.post-form
            form(action="/post" method="POST")
              div.form-group
                input.post-input(type="text", name="message" autocomplete="off" placeholder=`What's on your mind, ${user.firstName}?`)
              div.form-group
                input.btn.post-btn(type="submit" value="Post")
      block posts

        // View raw JSON 
        //- p Total posts: #{post_list ? post_list.length : 'undefined'}
        //- pre= JSON.stringify(post_list, null, 2)

        if post_list
          div.posts-container
            each post in post_list
              div.post(data-content-type=post.contentType)
                div.post-details
                  p.post-details.username #{post.user.username}
                  p.post-details.major #{post.user.major} 
                div.post-content(class=post.contentType === 'image' ? 'image' : 'text')
                  p.post-message #{post.message}
                div.post-details
                  p.post-details.timestamp #{post.timestamp_formatted}
  else
    block landing-page
      div.landing-page
        block logo 
          div.logo-container
            h1.logo MembersOnly
            h2.logo-subtext Connect with your community.
        block login
          div.login-container
            div.login-form
              form(action="/login" method="POST")
                input.login-input(type="text", name="username" placeholder="Username or email")
                br
                input.login-input(type="password", name="password" placeholder="Password")
                br
                input.btn.login-btn(type="submit" value="Log In")
                br 

            div.login-bottom
              a(href="/forgot-password") Forgot password?
              p or
              a(href="/guest") Sign in as guest

            div.login-divider 

            div.login_new-account
              div.btn.login_new-account-btn
                a(href="/create-account") Create new account 