extends layout

block content
  if user
    block appBar
      div.app-bar
        div.app-bar--left
          div.logo-icon
            a(href="/") m
        div.app-bar--center
          div.view-toggle
            a.view-btn(href="/?view=text" class=activeView === 'text' ? 'active' : '')
              img(src="/resources/contentType-text.png" alt="Conversations")
            //- a.view-btn(href="/?view=image" class=activeView === 'image' ? 'active' : '')
              img(src="/resources/contentType-image.png" alt="Grid")
        div.app-bar--right 
          div.controls
            div.control-item.profile
              //- span #{user.initials}
              div.post-icon(class=`gradient-${user.colorPreference}`)
               a(href=`/profile/${user.username}`)
                img(src=`/resources/icons/${user.icon}`, alt=`${user.username}'s profile picture`)

      block userMenu 
        div.user-menu#user-menu
          ul 
            li 
              a(href=`/profile/${user.username}`) Profile
            li
              a(href="/logout") Sign Out
    div.content#feed-content
      div.sidebar-tags
          h3.sidebar-header Tags:
          div.tag-filters
            button.tag-filter-btn.active(data-tag="all") All Posts
            button.tag-filter-btn(data-tag="General") General
            button.tag-filter-btn(data-tag=user.major)= user.major
      div.main-content
        block post
          div.create-post
            div.post-form
              form(action="/post" method="POST")
                div.form-group
                  input.post-input(type="text", name="message" autocomplete="off" placeholder=`What's new, ${user.firstName}?`)
                div.tag-selector.hidden
                  button.tag-btn(type="button" data-tag="General") General
                  button.tag-btn(type="button" data-tag=user.major)= user.major
                div.form-group
                  input.btn.post-btn(type="submit" value="Post")
        block posts
          if post_list
            div.posts-container
              each post in post_list
                //- - console.log(JSON.stringify(post))
                div.post(data-content-type=post.contentType data-post-id=post._id data-tags=post.tags.join(','))
                  div.post-header
                    //- - var safeColor = (post.user.colorPreference || '').replace(/[^a-zA-Z0-9\-_]/g, '')
                    div.post-icon(class=`gradient-${post.user.colorPreference}`)
                      a(href=`/profile/${post.user.username}`)
                        img(src=`/resources/icons/${post.user.icon}`, alt=`${post.user.username}'s profile picture`)
                    div.post-author
                      a.username(href=`/profile/${post.user.username}`) #{post.user.username}
                      span.major #{post.user.major}
                    span.timestamp #{post.timestamp_formatted}
                  div.post-content
                    p.post-message #{post.message}
                  div.post-actions
                    button.like-btn(
                      class=post.hasUserLiked(user._id) ? 'liked' : ''
                      data-post-id=post._id
                    )
                      span.like-icon
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                          path(d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z")
                      span.like-count #{post.likeCount || 0}
                    button.comment-btn(data-post-id=post._id)
                      span.comment-icon 
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                          path(d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z")
                      span.comment-count #{post.commentCount || 0}  
      div.right-sidebar
  else
    block landing-page
      div.landing-page
        block logo 
          div.logo-container
            h1.logo MembersOnly
            h2.logo-subtext Connect with your community.
        block login
          div.login-container
            div.login-form
              form(action="/login" method="POST")
                input.login-input(type="text", name="username" placeholder="Username or email")
                br
                input.login-input(type="password", name="password" placeholder="Password")
                br
                input.btn.login-btn(type="submit" value="Log In")
                br 

            div.login-bottom
              a(href="/forgot-password") Forgot password?
              p or
              a(href="/guest") Sign in as guest

            div.login-divider 

            div.login_new-account
              div.btn.login_new-account-btn
                a(href="/create-account") Create new account 